h1 {
  text-align: center;
}

table {
  box-sizing: border-box;
  width: 50%;
  text-align: center;
  font-size: 200%;
}

body{
  text-align: center;
  font-size: 110%;
}

td {
  text-align: center;
  font-size: 110;
}

.center {
  margin-left: auto;
  margin-right: auto;
}