<!DOCTYPE html>
<html>

<head>
    <title> Euro 2024 </title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <style>
        body { background-color:#fff; }
        td { border: 1px dashed #333; padding:10px; }
        th { background-color:#ddd; color:#333; }
    </style>
</head>

<body>

    <h1> Euro 2024 </h1>
    <a data-flickr-embed="true" href="https://www.flickr.com/photos/vegas79world/53686750185/in/photolist-2pN7CpT-PaCDTb-MxuTHz-2pBj8mr-2pgiT2K-2pYnM7V-2pufMJP-2pZSw5d-26zSZCA-2pzUUMk-2pZ2nA1-2pJZbm3-2pXpA2f-2pYD3AN-2pJxC1b-2pXpzX7-2pXurmJ-2pySBMc-2pQVTM3-2pMpaGG-2pJqp5P-2pLedzp-2pWZSME-2pXkQmE-2pY4Fec-2pzBQFH-2pW692C-6ZrK3Y-2pZT4aR-2pGWa3G-2puZB9R-2pPytR6-2pLxEio-2pDeMGH-2pYsV3R-2pHRSB4-7z9G9R-2pXiw1p-2pYsmuW-2q1qi4V-2pW7H1o-2pX86i3-2pEAuKT-2pWhfsR-2pa3oT7-2pZ4sfY-2pZS3H3-2prUXCJ-2pp2Zap-2psfZwF" title="Kết quả bóng đá Euro 2024 tại Vegas79"><img src="https://live.staticflickr.com/65535/53686750185_4301a8537d_z.jpg" width="640" height="427" alt="Kết quả bóng đá Euro 2024 tại Vegas79"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
    <h2> Group Stage Matches </h2>
<table class="center">
<tr>
    <th>Date</th>
    <th>Team A - Score</th>
    <th>Team B - Score</th>
    <th>Winning Team</th>
</tr>
<tr>
    <td>06/14</td>
    <td>Germany - 5</td>
    <td>Scotland - 1</td>
    <td>Draw</td>
</tr>
<tr>
    <td>06/15</td>
    <td>Hungary - 1</td>
    <td>Switzerland - 3</td>
    <td>Switzerland</td>
</tr>
<tr>
    <td>06/15</td>
    <td>Spain - 3</td>
    <td>Croatia - 0</td>
    <td>Spain</td>
</tr>
<tr>
    <td>06/15</td>
    <td>Italy - 2</td>
    <td>Albania - 1</td>
    <td>Italy</td>
</tr>
<tr>
    <td>06/16</td>
    <td>Poland - 1</td>
    <td>Netherlands - 2</td>
    <td>Netherlands</td>
</tr>
<tr>
    <td>06/16</td>
    <td>Slovenia - 1</td>
    <td>Denmark - 1</td>
    <td>Draw</td>
</tr>
<tr>
    <td>06/16</td>
    <td>Serbia - 0</td>
    <td>England - 1</td>
    <td>England</td>
</tr>
</table>

</body>

</html>
